<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dogwalker" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogWalker" >
        <activity
            android:name=".owner.OwnerDashboard"
            android:exported="false" />
        <activity
            android:name=".model.OwnerModel"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerOrders"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerRegister"
            android:exported="false" />
        <activity
            android:name=".customer.WalkerUserLocation"
            android:exported="false" />
        <activity
            android:name=".adapter.CustomerOrderAdapter"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerShowOrder"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerLogin"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerDashboard"
            android:exported="false" />
        <activity
            android:name=".customer.CustResetPass"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerRegister"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>